.pageconcontact {
  top: 0vh;
  left: 0vh;
  width: 100%;
  height: 280vh;
}

#coronacontainer{
    width: 80%;
    clear: both;
    margin-top: 3%;
    margin-left: 12%;
  }

  #infocontainer{
    width: 80%;
    clear: both;
    margin-top: 2%;
    margin-left: 12%;
  }

  #reclamecontainer{
    width: 84%;
    clear: both;
    margin-top: 2%;
    margin-left: 12%;
    padding-bottom: 15vh;
  }
  
  .corona {
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 5px 5px 15px #bbbbbb;
  }

  .email{
      width: 15vw;
      margin-left: 20%;
  }

  .titel{
      font-weight: bold;
      font-size: 3vh;
  }

  .locatie{
      width: 30vw;
      margin-left: 20%;
  }

  .opening{
      width: 20vw;
      margin-left: 60%;
      margin-top: -12.5%;
  }

  .photo{
    border-radius: 5px;
    margin-left: 1%;
    width: 100%;
  }

/* google maps */
  #locatiecontainer {
    padding: 3vh;
    width: 30%; 
    clear: both;
    margin-top: 2%;
    margin-left: 10.5%;
  } 

  .locatieinfo {
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 5px 5px 15px #bbbbbb;
    margin-top: 2%;
  }

  .titellocatie{
    font-weight: bold;
    font-size: 3vh;
    margin-left: 36%;
}  

/* contactformulier */

#contactcontainer{
  width: 60%;
  clear: both;
  margin-top: 2%;
  margin-left: 12%;
}

.contactinfo {
  background-color: white;
  border-radius: 5px;
  padding: 2%;
  box-shadow: 5px 5px 15px #bbbbbb;
}

.titelcontact{
  font-weight: bold;
  font-size: 3vh;
  margin-left: 1%;
}

.contactopnemen {
  width: 34vw;
  margin: auto;
  margin-top: 3vh;
  box-shadow: 5px 5px 15px #bbbbbb;
  background-color: white;
  border-radius: 8px;
}

.mailtel {
  width: 14vw;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}

.mailtel_inf {
  width: 11vw;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}

.subname {
  width: 18vw;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}
 
.subname_info {
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}

.adres {
  width: 14vw;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}

.adres_info1 {
  width: 11vw;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}

.adres_info2 {
  width: 11vw;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
} 

.message {
  width: 29vw;
  margin-top: 2%; 
  margin-left: 12%;
  border-radius: 5px;
}

.button {
  width: 4vw;
  height: 3vh;
  padding: 1vh;
  margin-top: 2%;
  margin-left: 12%;
  border-radius: 5px;
}