.pagecondetail {
    top: 0vh;
    left: 0vh;
    width: 100%;
    height: 90vh;
}

#detailcontent {
    width: 130vh;
    height: 100%;
    margin: auto;
}

#fotobox {
    border: 1px solid black;
    height: 30vh;
    width: 100%;
    margin: auto;
    display: inline-flex;
    background-color: black;
}

#fotobox img {
    width: 49vh;
    height: 100%;
    opacity: 50%;
    transition: .3s;
    border-right: 2px solid black;
}

#fotobox img:hover {
    opacity: 100%;
    transition: 0.3s;
}

.info {
    padding-left: 5vh;
}

.info span {
    font-size: 30px;
    display: block;
    padding-top: 2vh;
}

.link-cont {
    text-align: center;
    margin-top: 10vh;
}

.link {
    background-color: #FFC80F;
    text-decoration: none;
    color: black;
    padding: 2vh;
    font-size: 30px;
    margin-right: 5vh;
    border-radius: 10px;
}

.link:hover {
    background-color: #ffd95b;
    transition: .3s;
}

#price {
    float: right;
}

.specs {
    padding-left: 5vh;
    margin-top: 2vh;
    padding-top: 2vh;
    border-top: 1px solid black;
}

h2, th {
    font-weight: normal;
}

.specs th {
    color: rgb(72, 72, 72);
}

.specs th, .specs td {
    width: 20vh;
    text-align: left;
}

.specs td {
    font-size: 18px;
}