* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0vh;
  padding: 0vh;
  /*background-image: url();*/
  background-color: #F1E4B0;
}

#error-msg {
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: red;
}

.pagecon {
  top: 0vh;
  left: 0vh;
  width: 100%;
  height: 120vh;
}

/*NAV SETTINGS*/
.navContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  /* background: rgb(255, 217, 0, 0.7) */
  background: #FF6A00; 
}

.navMenu {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  padding-left: 3vh;
  position: absolute;
}

.navLink {
  text-decoration: none;
  position: relative;
  top: 0vh;
  font-weight: bold;
  color: #000;
  padding: 1vh;
  font-size: 3vh;
}

.navItem {
  height: 4vh;
  list-style-type: none;
  /* Remove bullets */
  padding: 0vh;
  /* Remove padding */
  margin: 0vh;
  /* Remove margins */

}

.navItem:hover {
  border-radius: 5px;
  background-color: #FFC80F;
}

/*MAIN SETTINGS*/
.mainbody {
  height: fit-content;
  width: 100vw;
  margin-top: 5vh;
}

/*SLIDESHOW SETTINGS*/
.wrapper {
  width: 100%;
}

.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.carousel .card {
  text-align: center;
  margin: 5px 5px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #bbbbbb;
}

.carousel .card-1 {
  background: #FFC80F;
}

.carousel .card-2 {
  background: #FFC80F;
}

.carousel .card-3 {
  background: #FFC80F;
}

.carousel .card-4 {
  background: #FFC80F;
}

.carousel .card-5 {
  background: #FFC80F;
}

/*.owl-dots {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #FF6A00 !important;
  box-shadow: 5px 5px 15px #bbbbbb;
  transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
  background: #FFC80F !important;
}*/
/*SLIDESHOW SETTINGS END*/

#infobox1 {
  width: 80vw;
  height: 13vh;
  margin: auto;
  box-shadow: 5px 5px 15px #bbbbbb;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  margin-top: 3vh;
}

#infobox2 {
  width: 80vw;
  height: 13vh;
  margin: auto;
  box-shadow: 5px 5px 15px #bbbbbb;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  margin-top: 3vh;
}

#infobox3 {
  width: 80vw;
  height: 13vh;
  margin: auto;
  box-shadow: 5px 5px 15px #bbbbbb;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  margin-top: 3vh;
}

.infobox1text {
  padding: 3%;
  text-decoration: none;
}

.infobox2text {
  padding: 3%;
  text-decoration: none;
}

.infobox3text {
  padding: 3%;
  text-decoration: none;
}

/*FOOTER SETTINGS*/
.footer {
  position: fixed;
  background-color: #FF6A00;
  width: 100%;
  height: 10vh;
  left: 0;
  bottom: 0;

}

#footercrtext {
  float: left;
  margin-left: 1vw;
  text-decoration: none;
  font-size: 3vh;
  padding-top: 3vh;
}

#footerteltext {
  float: right;
  margin-right: 1vw;
  text-decoration: none;
  font-size: 3vh;
  padding-top: 3vh;
}

#loginbtn {
  float: left;
  margin-left: 3vw;
  text-decoration: none;
  font-size: 3vh;
  margin-top: 3vh;
  background-color: #FFC80F;;
  padding: 0.5vh;
  border-radius: 1vh;
  color: black;
  font-weight: bold;
}  