body {
    overflow-x: hidden;
}

.photo {
    width: 50vh;
    float: left;
    background-color: white;
    margin-left: 10vh;
    margin-top: 10vh;
    height: 45vh;
    border-radius: 3vh;
    box-shadow: 0 0.1vh 3vh 0vh black ;
    transition: 0.1s;
}

.photo:hover {
    box-shadow: 0 3vh 5vh 2vh rgb(55, 55, 55);
    transition: 0.4s;
}

.photo img {
    width: 100%;
    margin: auto;
    align-self: center;
    display: flex;
    border-radius: 3vh 3vh 0 0;
}

.hoofdtitel {
    margin-top: 1vh;
}

.detailbutton img {
    width: 10vh;
    float: right;
}

.modelnaam {
    font-size: 4vh;
    border-bottom: 1px solid black;
    padding-left: 1vh;
}

.vraagprijs {
    margin-top: 1vh;
    font-size: 3vh;
    padding-left: 1vh;
}

#contentblok {
    height: 100%;
}